@page "/register"
@inject Blog_BrazorWebApp.Data.ApplicationDbContext DB
@using Blog_BrazorWebApp.Model
@inject NavigationManager NavigationManager
@using System.Security.Claims;

<PageTitle>新規登録</PageTitle>

<h1>新規ユーザー登録</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <EditForm method="post" Model="RegisterViewModel" OnValidSubmit="AddUserAccount" FormName="create" Enhance>
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger" />
            <div class="mb-3">
                <label for="username" class="form-label">UserName(EmailAdress):</label> 
                <InputText id="username" @bind-Value="RegisterViewModel.UserName" class="form-control" />
            </div>        
            <div class="mb-3">
                <label for="password" class="form-label">Password:</label> 
                <InputText id="password" @bind-Value="RegisterViewModel.Password" class="form-control" />
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password(Confirm):</label>
                <InputText id="password" @bind-Value="RegisterViewModel.ConfirmPassword" class="form-control" />
            </div>
            @if (RoleName == "administrator")
            {
                <div class="mb-3">
                    <label for="roleName" class="form-label">RoleName:</label>
                    <select id="roleName" class="form-control" @bind="SelectedRole">
                        @foreach (var role in UserRoles)
                        {
                            <option value="@role.RoleName">@role.RoleName</option>
                        }
                    </select>
                </div>
            }

            <button type="submit" class="btn btn-primary">Create</button>
        </EditForm>
    </div>
</div>
@if (HttpContext.User.Identity.IsAuthenticated && RoleName == "administrator")
{
    <div>
        <a href="/useraccounts">Back to List</a>
    </div>
}


@code {
    public string SomeValue { get; set; } = "Hello from ParentComponent!";

    [CascadingParameter]
    public HttpContext? HttpContext { get; set; }

    public UserAccount UserAccount { get; set; } = new();

    [SupplyParameterFromForm]
    public RegisterViewModel RegisterViewModel { get; set; } = new();

    private List<UserRole> UserRoles;
    private int RoleId;
    private string RoleName;
    private string SelectedRole { get; set; }

    protected override void OnInitialized()
    {
        // ユーザーのロールを取得
        var user = HttpContext.User;
        if (user != null)
        {
            RoleName = user.FindFirstValue(ClaimTypes.Role);
        }

        if (HttpContext.User.Identity.IsAuthenticated)
        {
            // UserRole テーブルからすべてのロールを取得
            UserRoles = DB.UserRoles.ToList();

        }
    }

    public async Task AddUserAccount()
    {
        // ユーザー名の重複チェック
        if (DB.UserAccounts.Any(u => u.UserName == RegisterViewModel.UserName))
        {
            NavigationManager.NavigateTo("/access-denied");
        }

        if (SelectedRole != null)
        {
            RoleName = SelectedRole;
        }
        else
        {
            RoleName = "user";
        }

        RoleId = DB.UserRoles.FirstOrDefault(r => r.RoleName == RoleName).Id;
        UserAccount.RoleId = RoleId;

        UserAccount.UserName = RegisterViewModel.UserName;
        UserAccount.Password = RegisterViewModel.Password;
        UserAccount.UserRole = DB.UserRoles.First(r => r.Id == RoleId);

        DB.UserAccounts.Add(UserAccount);
        await DB.SaveChangesAsync();
        NavigationManager.NavigateTo("/success");
    }
}