<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="Blog_BrazorWebApp.styles.css" />
    <link rel="icon" type="image/png" href="favicon.png" />
@*     <link rel="stylesheet" href="prism/prism.css">
 *@    <HeadOutlet />
</head>

<body>
    <Routes />
    <script src="_framework/blazor.web.js"></script>
@*     <script src="prism/prism.js"></script>
    <script src="js/app.js"></script>
 *@</body>

</html>
