@page "/articles/create"
@inject Blog_BrazorWebApp.Data.ApplicationDbContext DB
@inject NavigationManager NavigationManager
@attribute [Authorize]

<PageTitle>新規作成</PageTitle>

<h1>新規作成</h1>

<h4>記事</h4>
<hr />
<div class="row">
    <div class="col-md-8">
        <EditForm method="post" Model="Article" OnValidSubmit="AddArticle" FormName="create" Enhance>
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger" />

            <InputNumber id="userid" @bind-Value="Article.UserId" class="form-control" type="hidden" readonly/>

            <div class="mb-3">
                <label for="title" class="form-label">Title:</label> 
                <InputText id="title" @bind-Value="Article.Title" class="form-control" /> 
                <ValidationMessage For="() => Article.Title" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="content" class="form-label">Content:</label> 
                <InputTextArea id="content" @bind-Value="Article.Content" class="form-control" />
                <ValidationMessage For="() => Article.Content" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="createdate" class="form-label">CreateDate:</label> 
                <InputDate readonly id="createdate" @bind-Value="Article.CreateDate" class="form-control"/> 
            </div>
            <div class="mb-3" hidden>
                <label for="createdate" class="form-label">UpdateDate:</label>
                <InputDate readonly id="createdate" @bind-Value="Article.UpdateDate" class="form-control" />
            </div>

            <button type="submit" class="btn btn-primary">Create</button>
        </EditForm>
    </div>
</div>

<div>
    <a href="/">Back to List</a>
</div>

@code {
    [CascadingParameter]
    public HttpContext HttpContext{ get; set; }

    [SupplyParameterFromForm]
    public Article Article { get; set; } = new();

    private string userName;
    private int userId;

    protected override void OnInitialized()
    {
        if (!HttpContext.User.Identity.IsAuthenticated)
        {
            return;
        }

        userName = HttpContext.User.Identity.Name;
        userId = DB.UserAccounts.Where(user => user.UserName == userName).FirstOrDefault().Id;
        Article.UserId = userId;
    }

    // To protect from overposting attacks, see https://aka.ms/RazorPagesCRUD
    public async Task AddArticle()
    {
        //マークダウンをHTMLに変換する
        string html = Markdown.ToHtml(Article.Content);
        Article.Content = html;

        DB.Articles.Add(Article);
        await DB.SaveChangesAsync();
        NavigationManager.NavigateTo("/");
    }

}
