@page "/articles/create"
@inject Blog_BrazorWebApp.Data.ApplicationDbContext DB
@using Blog_BrazorWebApp.Model
@inject NavigationManager NavigationManager
@attribute [Authorize]

<PageTitle>Create</PageTitle>

<h1>Create</h1>

<h4>Article</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <EditForm method="post" Model="Article" OnValidSubmit="AddArticle" FormName="create" Enhance>
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger" />

            <div class="mb-3">
                <label for="title" class="form-label">Title:</label> 
                <InputText id="title" @bind-Value="Article.Title" class="form-control" /> 
                <ValidationMessage For="() => Article.Title" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="content" class="form-label">Content:</label> 
                <InputText id="content" @bind-Value="Article.Content" class="form-control" /> 
                <ValidationMessage For="() => Article.Content" class="text-danger" /> 
            </div>        
            <button type="submit" class="btn btn-primary">Create</button>
        </EditForm>
    </div>
</div>

<div>
    <a href="/articles">Back to List</a>
</div>

@code {
    [CascadingParameter]
    public HttpContext HttpContext { get; set; }

    [SupplyParameterFromForm]
    public Article Article { get; set; } = new();

    private string userName;
    private int userId;

    public async Task AddArticle()
    {
        //マークダウンをHTMLに変換する
        string html = Markdown.ToHtml(Article.Content);
        Article.Content = html;

        userName = HttpContext.User.Identity.Name;
        userId = DB.UserAccounts.Where(user => user.UserName == userName).FirstOrDefault().Id;
        Article.UserId = userId;
        Article.CreateDate = DateTime.Now;
        Article.UpdateDate = Article.CreateDate;

        DB.Articles.Add(Article);
        await DB.SaveChangesAsync();
        NavigationManager.NavigateTo("/articles");
    }

}